server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: wbs-project

  mail:
    host: smtp.qq.com
    port: 587
    from:
      addr: 631955572@qq.com
    username: 631955572@qq.com
    password: diiuhawpifjmbdag
    display-name: WBS项目管理系统
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: smtp.qq.com
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
        debug: false

  freemarker:
    template-loader-path: classpath:/templates/
    suffix: .ftl
    cache: false
    charset: UTF-8
    content-type: text/html
    expose-request-attributes: false
    expose-session-attributes: false
    expose-spring-macro-helpers: false
    check-template-location: false

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/db_webwbs?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: root

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    serialization:
      write-dates-as-timestamps: false

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.wbs.project.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    cache-enabled: true
    lazy-loading-enabled: true

logging:
  level:
    com.wbs.project: debug
    org.springframework.web: info
